# Twitch
twitchio

# NLP
spacy
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl

# Utilities
arrow
GitPython
rich

# Database
tinydb

# Development
black
flake8